html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1c1c1c;
    font-family: 'Inter' , sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 50vh;
}

/* Typography */

h1, p {
    margin: 0;
}

h1 {
    font-family: 'Karla' , sans-serif;
    font-size: 40px;
    margin-bottom: .25em;
}

p {
    color: #d5d4d8;
    margin-bottom: 2em;
}

hr {
    border: 1px solid #2F3E53;
    width: 525px;
    
}

.small-text {
    font-size: 10px;
    font-weight: italic;
    margin: 0;
}

.small-text-pw-length {   
    margin-bottom: .5em;
}

.small-text-copy {
    text-align: center;
    margin: 1em 0;

}

.text-accent {
    color: #55f991;
}

/* Layout */

.container {
    background-color: #1f2937;
    margin: 0 auto;
    width: 550px;
    height: 550px;
    padding: 2em;
    padding-top: 4em;
}

.top {
    border-bottom: #2f3e53;
    padding: 2em 0;
}

.new-passwords {
    display: flex;
    flex-direction: column;
}

/* button & inputs */

.btn, .new-password, .pw-length {
    font-size: 16px;
    font-family: inherit;
    border: none;
    border-radius: 6px;
    padding: .5em 1em;
}

.btn {
    background-color: #10b981;
    color: white;
    margin-bottom: 1.5em;
    cursor: pointer;
}

.btn:hover, .btn:focus {
    background-color: #047857;
}

.btn-pw-generator {
    margin-bottom: 0;

}

.pw-length {
    text-align: center;
    width: 3em;
}

.new-pw-container {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap: 1em;

}

.new-password {
    background-color: #263549;
    border: 1px solid #2F3E53;
    height: 39px;
    width: 211px;
    color: #55f991;
    text-align: center;
}




